.home{
    display: flex;
    background: #F8F9FA;
    .container{
        flex:10;
        padding: 0px;
      
    }
    .sidebar{
        border-right: 0.5 solid lightgray;
        background: #fff;
       
    }
    .widget-wrapper,.charts{
    display: flex;
    padding: 20px;
  
    

    }
}